@import url('/src/assets/reset.scss');

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.7rem;
}

h3 {
    font-size: 1.3rem;
}

.first-color {
    color: #f70776;
}

.second-color {
    background: #c3195d;
}

.third-color {
    background: #680747;
}

.fourth-color {
    background: #141010;
}

#root {
    width: 100vw;
    height: 100vh;
    @extend .fourth-color;
}

.center {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.app {
    @extend .center;
    flex-flow: column nowrap;
    @extend .first-color;

    header {
        margin: 15px 0;
    }

    main {
        width: min(300px, 80vw);

        .card {
            
        }

        form {
            @extend .center;
            flex-flow: column nowrap;
            row-gap: 10px;
            // background: rgb(247, 7, 118);
            background: radial-gradient(circle, rgba(247, 7, 118, 1) 0%, rgba(20, 16, 16, 0.2777485994397759) 100%);
            box-shadow: 0px 0px 16px 0px rgb(247 7 118 / 74%);
            padding: 10px;
            border-radius: 6px;

            h3 {
                filter: drop-shadow(3px 5px 2px black);
            }

            button {
                display: block;
                width: 30%;
                height: 22px;
                background: radial-gradient(circle, rgba(247, 7, 118, 1) 0%, rgba(20, 16, 16, 0.2777485994397759) 100%);
                border: none;
                color: white;
            }
        }
    }
}